body{
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(28, 44, 65);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
    min-height: 100vh;
}

* {
    outline: 1px solid red;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.links {
    font-size: 12px;
    display: flex;
    gap: 15px;
}

.second {
    background-color: aliceblue;
    color: black;
}

.third {
    background-color: darkgray;
    color: black;
}

.fourth {
    background-color: aliceblue;
    color: black;  
    display: flex;
    justify-content: center;
}

#blue-box {
    background-color: rgb(0, 58, 218);
    max-width: 700px;
    max-height: 70px;
}


.footer {
    text-align: center;
    justify-content: center;
}
